page-home {
    .image {
        border-radius: 5px;
        width: 100px;
        height: 75px;
    }
    .card{
        background-color: #fffcd9;
    }
    .font {
        font-size: 1.2em;
    }
}
